{% extends "base.html"%}

{% block titulo %}
<title>Home</title>
{% endblock titulo %}

{% block contenido %}

<body>
    <br>
    <h1 id="inicio">BIENVENIDOS AL BLOG DE MÚSICA</h1>
    <header>
        <div class="contenedor-encabezado">
            <img src= "https://images.pexels.com/photos/164828/pexels-photo-164828.jpeg?auto=compress&cs=tinysrgb&w=600"  class="imagen-1" alt="">
            <img src= "https://images.pexels.com/photos/242140/pexels-photo-242140.jpeg?auto=compress&cs=tinysrgb&w=600"  class="imagen-2" alt="">
        </div>
    </header>

<br>
    <div class="cont-tex-portada">
        <img id="img-tex-portada" src="https://i.pinimg.com/564x/87/35/e8/8735e8c4afc29082097471cdb7d52009.jpg"> 
        <div class="tex-portada">
            <p id="cuerpo-inicio"> “La música es una de las expresiones creativas más íntimas del ser, ya que
                forma parte del quehacer cotidiano de cualquier grupo humano tanto por su goce
                estético como por su carácter funcional y social. La música nos identifica como
                seres, como grupos y como cultura, tanto por las raíces identitarias como por la
                locación geográfica y épocas históricas. Es un aspecto de la humanidad innegable
                e irremplazable que nos determina como tal”
            </p>
            <p id="autor-text">
                (Angel, Camus y Mansilla, 2008: 18).
            </p>

        </div>
    </div>



       
<br>
<div class="pie-de-pagina">
    <footer>
        <p>&copy; 2023 Informatorio Blog de Música || Grupo #4 - Comisión 5</p>
    </footer>
</div>

</body>

</html>

{% endblock contenido %}

